.field {
  display: flex;
  margin-bottom: 0.5rem;
}

.signUpIconWrapper {
  display: flex;
  justify-content: flex-end;
  padding-top: 15px;
}

form {
  width: 100%;
}

.input {
  font-size: 0.8rem;
  border-radius: 5px;
  border: 1px solid #CDCDCD;
}

.signUpIconWrapper button {
  Background-color: #7FFF7FD9;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  Border: #FFFFFF Solid 2px;
  color: #202020;
}

.signUpIconWrapper button:hover {
  Background-color: #128312D9;
  width: 350px;
  height: 40px;
  border-radius: 5px;
  color: #FFFFFFD9;
}
