.orderSheduleContainer {
    border: 1px solid #404040;
    color: #FFFFFF;
    font-size: 14px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.borderElement {
    border-left: 2px solid #404040;
    border-right: 2px solid #404040;
    padding: 10px;
    background-color: #973E95;
    width: 100%;
    text-align: center;
}

.element {
    padding: 10px;
    background-color: #973E95;
    width: 100%;
    text-align: center;
}
